useDynLib(nlf)
importFrom(Rcpp, evalCpp)
export(circle)
export(cubic)
export(exponential2)
export(linear)
export(linearPeriodic)
export(logE)
export(qroot)
export(quadratic)
export(sigmoid)
export(sinHigh)
export(sinLow)
export(spike)
export(step)
export(varyingFreq)
export(xShaped)

